<app-navbar></app-navbar>
<div class="container my-5">
    <form>
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                 <label for="firstName">firstName </label>
                 <input type="text" name="firstName" id="firstName" class="form-control">
                  </div>
             </div>
        
            <div class="col-6">
                 <div class="form-group">
                  <label for="lastName">lastName </label>
                   <input type="text" name="lastName" id="lastName" class="form-control">
                  </div>
             </div>
         </div>
     <div class="col-6">
        <div class="form-group">
          <label for="exampleInputemail">email adresse </label>
          <input type="email" class="form-control" id="exampleInputemail">
        </div>

</div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<app-footer></app-footer>